<template>
  <v-container>
    <v-col>
      <v-row>
        <v-text-field
          v-model="myName"
          label="Username here.."
          @change="onChange"
        ></v-text-field>
      </v-row>
      <v-row>
        <v-textarea
          v-model="myMessage"
          label="New Message here.."
          @change="onChange"
        ></v-textarea>
      </v-row>
    </v-col>
  </v-container>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";

@Component
export default class ChatBox extends Vue {
  @Prop() private name!: string;
  @Prop() private message!: string;

  myMessage: string = this.message;
  myName: string = this.name;

  onChange(): void {
    this.$emit("updateMessage", this.myMessage, this.myName);
  }
}
</script>
