<template>
  <v-container>
    <v-row v-for="user in userlist" :key="user.id">
      {{ user.id }}
    </v-row>
  </v-container>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";

export interface User {
  id: string;
  name: string;
}

@Component
export default class Userlist extends Vue {
  @Prop() private userlist!: Array<User>;
}
</script>
